---
import Layout from '~/layouts/PageLayout.astro';

import Form from '~/components/widgets/Form.astro';

const meta = {
  title: 'Contact',
};
---

<Layout {meta}>

  <!-- Hero2 Widget ******************* -->

  <Form
    image={{ src: import('~/assets/images/undraw_personal_email_re_4lx7.png'), alt: 'Contact Image' }}
  >
    <Fragment slot="title">
      So you wanna <span class="text-primary dark:text-primarylt highlight">Get Started</span> with your custom site today?
    </Fragment>

    <Fragment slot="subtitle" client:load>
      <span>
        <span class="font-semibold">Fill out the form below</span> with a little info about yourself and your business so that we can get this train rolling.
      </span>

<!-- Contact Form ******************* -->
      <div id="contactform">
        <script is:inline type="text/javascript" src="//mautic.ramoshe.com/form/generate.js?id=4"></script>
      </div>

    </Fragment>
  </Form>

</Layout>