---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import { headerData } from '~/data';

const meta = {
  title: 'Contact',
};
---

<Layout {meta}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/undraw_personal_email_re_4lx7.png'), alt: 'Contact Image' }}
  >
    <Fragment slot="title">
      So you wanna <br />
      <span class="text-primary dark:text-primarylt highlight"> Get Started</span> with your site today?
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Fill out the form below</span> with a little info about yourself and your business so that we can get this train rolling.
      </span>
    </Fragment>
  </Hero2>

  <Fragment client:load>
    <script is:inline type="text/javascript" src="//mautic.ramoshe.com/form/generate.js?id=4"></script>
  </Fragment>

</Layout>
