---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { headerData } from '~/data';

const meta = {
  title: "Cookie Policy",
};
---

<Layout {meta}>

  <!-- Hero2 Widget ******************* -->

  <Hero
    callToAction={{ text: 'Back to Main Page', href: '/', icon: 'tabler:arrow-big-left' }}
  >
    <Fragment slot="title">
      Cookie Policy
    </Fragment>
  </Hero>

  <Fragment client:load>
    <div class="mx-10 lg:mx-40 mb-60 termageddon" id="policy" data-policy-key="Vkd0aFptbDBUSGRuWWpadlZYYzlQUT09" data-extra="h-align=left&no-title=true&table-style=accordion"> Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://app.termageddon.com/api/policy/Vkd0aFptbDBUSGRuWWpadlZYYzlQUT09?h-align=left&no-title=true&table-style=accordion" target="_blank">click here</a>.</div>
    <script is:inline src="https://app.termageddon.com/js/termageddon.js"></script>
  </Fragment>

</Layout>
