---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const meta = {
  title: 'Thank You!',
};
---

<Layout {meta}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Next Steps', href: '#nextsteps', icon: 'tabler:arrow-big-down-lines' }}
    callToAction2={{ text: 'Back to Main Page', href: '/' }}
    image={{ src: import('../assets/images/undraw_appreciation_0xsh.png'), alt: 'Thank You Image' }}
  >
    <Fragment slot="title">
      <span class="text-primary dark:text-primarylt highlight">Thank You</span> and Congratulations!
    </Fragment>

    <Fragment slot="subtitle">
      You've just taken the first step toward making your website dreams come true! theRamoShe will be in touch very shortly to schedule your inital consult appontment! In the meantime, scroll down to take a look at some next steps you can take to prepare.
    </Fragment>
  </Hero2>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Prepare for your upcoming custom website build."
    subtitle="There are a few steps you can take now to get things ready for this process. Starting by thinking through the foundational aspects of your business and brand identity is integral to the success of your final website product."
    items={[
      {
        title: 'URL/Domain Name',
        description:
          'If you haven\'t already purchased one, think about what you might want to be your home page address. Short and memorable is best!',
      },
      {
        title: 'Brand Identity',
        description:
          'It\'s time to think deeply about your branding and how you want to present your business. Choose a few adjectives that represent your identity. Selecting colors and design inspiration is a bonus! Search the web for "mood boards" to get some ideas.',
      },
      {
        title: 'Business Plan',
        description:
          'Do you actually have one written down? Even an informal plan will guide you through thinking about all the important aspects of how your business operates. Search the web for "Business Model Canvas" for a relatively simple template that will get you started.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Go To theRamoShe.com',
      href: 'https://theRamoShe.com',
      icon: 'tabler:arrow-big-right-lines',
    }}
  >
    <Fragment slot="title">
      Learn More about theRamoShe
    </Fragment>

    <Fragment slot="subtitle">
      Rachel is a designer, developer, streamer, and wood burning artist. <br class="hidden md:inline" />Check out her links and works on her website!
    </Fragment>
  </CallToAction>
</Layout>
