---
import '~/assets/styles/base.css';

import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.ramoshe.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body class="antialiased text-page bg-light dark:text-stone-300 dark:bg-dark">
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
